# To enable / disable self-hosting features.
SELF_HOSTED=false

# Enable market data providers (careful, this will use your API credits)
EXCHANGERATE_API_KEY=yourapikeyhere
FMP_API_KEY=yourapikeyhere

# Enable AI chat assistant (careful, this will use your API credits)
GROQ_API_KEY=yourapikeyhere
